{% extends "base.html.twig" %}
{% block body %}
    {% include "menu.html.twig" %}

    <main>
        {% include "add.html.twig" %}
        <ul>
            {% for c in cat %}
                <li>{{ c }}</li>
                    <ul>
                        {% for s in sub[c] %}
                            <li>{{ s }}</li>
                        {% endfor %}
                    </ul>
            {% endfor %}
        </ul>

    </main>
{% endblock %}