{% extends "base.html.twig" %}
{% block body %}
    {% include "menu.html.twig" %}

    <main>
        {% include "add.html.twig" %}
    <div id="category_picker">
      ds
    </div>
    </main>
{% endblock %}