{% extends "base.html.twig" %}
{% block body %}
    {% include "parts/menu.html.twig" %}

    <main>
        {% include "parts/summary.html.twig" %}
        {% include "parts/transactions.html.twig" %}
        {% include "parts/add.html.twig" %}

    </main>
{% endblock %}