{% extends "base.html.twig" %}
{% block body %}
    {% include "parts/menu.html.twig" %}

    <main>
        <ul>
            {% for row in t %}
                <li>row.date</li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}