<form method="post">
    Data:
    <input type="date" value="{{ date }}" required="required"/>

    Opis:
    <input type="text" placeholder="np. kanapka w subway" required="required"/>

    Kategoria:
    <select name="category" id="ctgr" required="required">

    </select>

    Podkategoria:
    <select name="subcategory" id="subctgr" disabled="disabled">
        <option>inne</option>
    </select>

    Kwota:
    <input type="number" required="required" placeholder="np. 14,24zl" min="0.01" step="0.01"/>
    <input type="submit">
</form>