
<ul id="menu" >
    <li><a class="active" href="#home">Start</a></li>
    <li><a href="#about">Tranzakcje</a></li>
    <li><a href="#about">Budżet</a></li>
    <li><a href="#contact">Archiwum</a></li>
    <li><a href="#about">Lata</a></li>
    <li><a href="#about">Ustawienia</a></li>
</ul>