<div>
    <table class="table table-sm">
        <tr>
            <td>Przychody:</td>
            <td>2000</td>
        </tr>
        <tr>
            <td>Wydatki:</td>
            <td>500</td>
        </tr>
        <tr>
            <td>Różnica:</td>
            <td>1500</td>
        </tr>
    </table>
</div>