<div>
    <table class="table table-sm">
        <tr>
            <td>Przychody:</td>
            <td id="income_balance">-</td>
        </tr>
        <tr>
            <td>Wydatki:</td>
            <td id="outcome_balance"">-</td>
        </tr>
        <tr>
            <td>Różnica:</td>
            <td id="balance">-</td>
        </tr>
    </table>
</div>