<table class="table" id="transactions">
    <thead>
        <tr>
            <th>Data</th>
            <th>Opis</th>
            <th>Kategoria</th>
            <th>Podkategoria</th>
            <th>Kwota</th>
        </tr>
    </thead>
    <tbody id="transactions">
        <tr>
            <td>Data</td>
            <td>Opis</td>
            <td>Kategoria</td>
            <td>Podkategoria</td>
            <td>Kwota</td>
        </tr>
        <tr>
            <td>Data</td>
            <td>Opis</td>
            <td>Kategoria</td>
            <td>Podkategoria</td>
            <td>Kwota</td>
        </tr> <tr>
            <td>Data</td>
            <td>Opis</td>
            <td>Kategoria</td>
            <td>Podkategoria</td>
            <td>Kwota</td>
        </tr>
    </tbody>
</table>