<table class="table" id="transactions">
    <thead>
        <tr>
            <th>Data</th>
            <th>Opis</th>
            <th>Kategoria</th>
            <th>Podkategoria</th>
            <th>Kwota</th>
        </tr>
    </thead>
    <tbody id="transactions_body">

    </tbody>
</table>